@addTagHelper "Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Home Page";
}



<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Who Are We?</h3>
    <h3>We Are X3. Founder of Surf 2022.</h3>
</div>



<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">What Do We Do?</h3>
    <p>
        We develop ASP.NET Core MVC web apps. Simple as that.
    </p>
    <a href="#" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-search"></span> Search
    </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">Where To Find Us?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p>Youtube</p>
            <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Twitter</p>
            <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>LinkedIn</p>
            <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
        </div>
    </div>
</div>