@addTagHelper "Microsoft.AspNetCore.Mvc.TagHelpers.FormTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Surf_2022.Models.Surfspots

@{
    ViewData["Title"] = "Surfspots";
}

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">Who Am I?</h3>
    <h3>I'm an adventurer</h3>
</div>